<% todos.forEach(details => { %> <% if (details._id == idTask) { %>
    <li class="todo-list-item">
      <form
        action="/edit/<%= details._id %>/?page=<%=(currentPage)%>"
        method="POST"
      >
        <input type="text" value="<%= details.task %>" name="task" class="editinput"/>
        <button type="submit">Update</button>
        <a href="/?page=<%=(currentPage)%>" class="cancel">Cancel</a>
      </form>
    </li>
    <% } else { %>
    <li class="todo-list-item">
      <div class="todo-list-item-name"><%= details.task %></div>
      <a
        href="/edit/<%= details._id %>/<%= currentPage %>&&sorted=<%=sorted%>"
        class="edit"
      >
        <span class="fas fa-edit"></span>
      </a>
      <a href="/remove/<%= details._id %>" class="remove">
        <span class="fas fa-times"></span>
      </a>
    </li>
    <% } %> <% }) %>